@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  font-family: "Courier Prime", monospace;
  margin: 0px;
  padding: 0px;
  background-color: #f4f4f4;
  color: black;
}

header {
  text-align: center;
  padding: 5px;
  border-bottom: dashed;
}

a {
  text-decoration: none;
  color: black;
  margin: 5px;
}

a:hover {
    text-decoration: underline;
  }

section {
  padding: 2em;
}

img.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 1px black;
  display: block;
  margin: auto;
}

progress {
  width: 150px;
  height: 10px;
  border: solid 1px black;
  color: black;
  background-color: #f4f4f4;
}

progress::-webkit-progress-bar {
  background-color: #f4f4f4;
}

progress::-webkit-progress-value  {
  background-color: black;
}

progress::-moz-progress-bar  {
  background-color: black;
}

details {
  display: flex;
  border: dashed 1px black;
  padding: 2px;
  margin: 2px;
}

details:hover {
  border: solid 1px red;
}

#about {
    text-align: center;
}

#skills {
    text-align: center;
}

#projects {
    text-align: center;
}

nav {
    margin: 20px;
}

#aboutnav {
    padding-right: 20px;
    font-size: 23px;
}

#skillsnav {
    font-size: 23px;
}

#projectsnav {
    padding-left: 20px;
    font-size: 23px;
}

#aboutmeheader {
    font-size: 40px;
}

#skillsheader {
    font-size: 40px;
}

#projectsheader {
    font-size: 40px;
}

#title {
    font-size: 50px;
}

.footer {
    text-align: center;
}

#linkedin {
    width: 30px;
    height: 30px;
}

#github {
    width: 30px;
    height: 30px;
}

#paragraph1 {
  font-size: 20px;
}

#summary {
  font-size: 23px;
}

#paragraph2 {
  font-size: 18px;
}

#connectheader {
  font-size: 27px;
}